.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: relative;
}

.list-wrapper {
  position: relative;
}

.list {
  position: relative;
}


.list-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid red;
}